# Control left and right for word movement
"\e[5C": forward-word
"\e[5D": backward-word
# Sometimes we get these bindings instead:
"\e[1;5C": forward-word
"\e[1;5D": backward-word

"\e[A": history-search-backward
"\e[B": history-search-forward

# Ctrl-Delete: delete next word
"\e[3;5~": shell-kill-word
"^[[M": shell-kill-word

# Ctrl-Backspace
"\C-H": shell-backward-kill-word

"\es": "\C-asudo \C-e"
"\em": "\C-aman \C-e"
