#!/bin/sh

sxhkd & # hotkey daemon
dunst -conf "$HOME/.config/dunst/dunstrc" & # the notification daemon
unclutter & # hide cursor after 5sec of idle
autorandr --change & # load saved multihead settings
nm-applet & # tray icon for wifi
udiskie --smart-tray & # tray icon for easy disk management
# msmtp & # smtp server # TODO: is this even needed?
# picom & # composition manager
# opensnitch-ui &

# create the xob pipes if they dont exist
[ -w "/tmp/xobpipe-volume" ] || mkfifo "/tmp/xobpipe-volume"
tail -f "/tmp/xobpipe-volume" | xob -s bar &
[ -w "/tmp/xobpipe-brightness" ] || mkfifo "/tmp/xobpipe-brightness"
tail -f "/tmp/xobpipe-brightness" | xob -s bar &

# sync the linux clipboards
autocutsel -fork &
autocutsel -selection PRIMARY -fork &

# fix_xcursor # fix the xcursor

xidlehook \
    --timer 180 \
    'dimmer dec 300' 'dimmer pop' \
    --timer 10 \
    'dimmer pop; slock' ''\
    --not-when-audio &

# custom apps
# i3autotile >> ~/.i3log 2>&1 &
dimmer &                          # dim screen to fit time-of-day
polybar-setup &                   # setup polybar for multihead

# load customs from xinitrc.d
if [ -d /etc/X11/xinit/xinitrc.d ]; then
    for f in /etc/X11/xinit/xinitrc.d/?*.sh; do
        [ -x "$f" ] && . "$f"
    done
    unset f
fi

# exec bspwm
exec i3
