Xft*dpi:        96
Xft*antialias:  true
Xft*hinting:    true
Xft*hintstyle:  hintfull
Xft*rgba:       rgb
xft*font:       xft:Source Code Pro Semibold:pixelsize=14

! Xcursor.size: 12

!!!!!!!!!!!
! general !
!!!!!!!!!!!

*background: #3f3f3f
*foreground: #dcdccc
*cursorColor: #8faf9f

*color0: #2f2f2f
*color1: #dfaf8f
*color2: #7f9f7f
*color3: #cfcf8f
*color4: #a09eb1
*color5: #bc8383
*color6: #6cb0b3
*color7: #dcdccc

*color8: #5b605e
*color9: #ffcfaf
*color10: #9ece9e
*color11: #efefaf
*color12: #c0bed1
*color13: #dca3a3
*color14: #8cd0d3
*color15: #ffffff

!!!!!!!!!
! xterm !
!!!!!!!!!

xterm.termName: xterm-256color
xterm*locale: true
xterm*metaSendsEscape: true
xterm*saveLines: 10000
xterm*faceName: Source Code Pro Semibold
xterm*faceSize: 10
xterm*font:     *-fixed-*-*-*-10-*
xterm*backarrowKey: false
xterm.ttyModes: erase ^?

!!!!!!!!!
! urxvt !
!!!!!!!!!

URxvt.scrollBar: false
URxvt.font:     xft:Source Code Pro Semibold:pixelsize=10:antialias=true:hinting=true
URxvt.scrollTtyOutput: false
URxvt.scrollWithBuffer: true
URxvt.scrollTtyKeypress: true

URxvt.perl-ext-common: default,clipboard,resize-font

URxvt.clipboard.autocopy: true
URxvt.keysym.M-w: perl:clipboard:copy
URxvt.keysym.C-y: perl:clipboard:paste