directory.default.set = ~/downloads
session.path.set = ~/.rtorrent.session
pieces.hash.on_completion.set = yes

network.port_range.set = 62807-62807
network.port_random.set = no

# use encryption when available
protocol.encryption.set = allow_incoming,try_outgoing,enable_retry

# force encryption
# protocol.encryption.set = require,require_RC4,allow_incoming,try_outgoing

dht.mode.set = auto
dht.port.set = 6881
protocol.pex.set= yes
trackers.use_udp.set = yes
