[Unit]
Description=Change wallpaper to a random one, every 30 minutes
Requires=random-wallpaper.service

[Timer]
Unit=random-wallpaper.service
OnUnitInactiveSec=30m

[Install]
WantedBy=timers.target
