[Unit]
Description=Red shift display based on time of day

[Service]
Environment=DISPLAY=:0.0
Restart=always
RestartSec=3
ExecStart=/home/jens/.local/bin/dimmer daemon

[Install]
WantedBy=multi-user.target