[Unit]
Description=Dimming based on time of day
Requires=dimmer.service

[Timer]
Unit=dimmer.service
OnBootSec=1m
OnUnitActiveSec=7m

[Install]
WantedBy=timers.target