[Unit]
Description=Changes the wallpaper to a random image from the wallpaper folder
Wants=random-wallpaper.timer

[Service]
Environment=DISPLAY=:0.0
ExecStart=/usr/bin/feh --randomize --bg-fill /home/jens/pictures/wallpapers/
