* {
    border: none;
    border-radius: 0;
    font-family: "Source Code Pro Semibold", "Symbols Nerd Font";
    font-size: 13px;
    font-weight: bold;
    min-height: 0;
}

window#waybar {
    background-color: #313131;
    color: #dcdccc;
}

window#waybar.hidden {
    opacity: 0.2;
}


#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button.focused {
    background-color: #515151;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#workspaces button:hover {
    /* Disable hover effects, no idea why they're default */
    box-shadow: inherit;
    text-shadow: inherit;
    background: none;
}

#mode {
    background-color: #515151;
}

#clock,
#battery,
#cpu,
#memory,
#custom-freespace,
#custom-daemons,
/* #custom-mounts */
#custom-wifiicon,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,
#mode
{
    padding: 0 30px;
}

#window,
#workspaces {
    margin: 0 4px;
}


#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
}

label:focus {
    background-color: #000000;
}

#tray {
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

/* remove margins on rightmost and leftmost modules */
.modules-left > widget:first-child > #workspaces {margin-left: 0; padding-left: 0}
.modules-right > widget:last-child > #workspaces {margin-right: 0; padding-right: 0}
