@namespace url(http://www.w3.org/1999/xhtml);

/* disable animations */
*, :before, :after {
    transition-property: none !important;
    transform: none !important;
    animation: none !important;
}

body {
    background-image: none !important;
}

@-moz-document url(about:newtab), url(about:home), url(about:blank) {
    body {
	      background-color: #2A2A2E !important;
    }
}

@-moz-document domain("news.ycombinator.com") {
    html {
        background-color: #f6f6ef;
    }
    body {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
    #hnmain {
        width: 100% !important;
    }
    .votearrow {
        display: none;
    }
}

@-moz-document domain("metager.org") {
    #options .scrollbox {
        max-height: 50px !important;
    }
    #resultpage-container {
        grid-template-columns: 500px 1000px 100px !important;
    }
}

@-moz-document domain("wiki.archlinux.org") {
    #content {
        max-width: 1000px !important;
        margin: auto !important;
    }
    #mw-panel {
        z-index: -99;
    }
}

@-moz-document domain("reddit.org") {
    .commentarea {
        max-width: 800px;
    }
}

@-moz-document domain("invidious.snopyta.org") {
    .pure-form, input[type="search"] {
        border-bottom: none;
        margin: 2px;
        border: 2px solid #eee;
        border-radius: 2px;
    }
    .navbar {
        margin: 0 !important;
    }
    .pure-u-md-20-24 {
        width: 100% !important;
        display: block !important;
    }
    .h-box {
        padding-left: 0 !important;
        padding-right: 0 !important;
        text-transform: lowercase;
        margin: 2px;
    }
    .icon {
        display: none !important;
    }
    .pure-menu-heading {
        display: none !important;
    }
    #watch-on-youtube,
    #annotations {
        display: none !important;
    }
}

@-moz-document domain("lists.gnu.org"), domain("debbugs.gnu.org") {
    body {
        margin: auto !important;
        max-width: 900px;
    }

    body > ul > li {
        margin-top: 20px;
    }

    body > pre {
        font-size: 12pt;
    }
}

@-moz-document domain("wikipedia.org") {
    body {
        margin: auto;
        max-width: 1500px;
    }
}
