@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* hide the minimize / maximize / close buttons  */
#window-controls  { display:none !important; }

* {
    scrollbar-width: thin !important;
    scrollbar-color: #313131 !important;
}

button {
    min-width: 5px !important;
    min-height: 5px !important;
}

.titlebar-button{ padding-block: 2px !important; }
#urlbar-container, #search-container{ padding-block: 1px !important; }

#private-browsing-indicator-with-label { display: none; }

#titlebar{ -moz-appearance:none !important; }
:root[sizemode="maximized"] #navigator-toolbox{ margin-top: 4px }

/********/
/* tabs */
/********/

#tabbrowser-tabs {
    --tab-min-height: 27px !important;
    --tab-line-color: unset !important; /* hide blue accent line */
}

#tabbrowser-tabs .tabbrowser-tab {
    max-height: 10px;
    color: #fefefe !important;
    font-weight: 550 !important;

    /* remove padding around tabs */
    padding-inline: unset !important;

    /* bring back the tab separator */
    border-inline-end: 1px solid #313131 !important;
}

/* remove round Proton look */
#tabbrowser-tabs .tab-background {
    border-radius: unset !important;
    margin-block: unset !important;
    background-image: none !important;
    background-color: #2a2a2e !important;
}

#tabbrowser-tabs .tab-background[selected="true"],
#tabbrowser-tabs .tab-background[multiselected="true"] {
    background-color: #404552 !important;
    /* remove dimming on multiselected tabs, that are not the main tab */
    opacity: 1 !important;
}

/* colored top-border on selected tab */
#tabbrowser-tabs .tab-background[selected="true"] {
    border-top: 2px solid #afafaf !important;

    /* add back bottom-border that distinguishes main tab from other selected tabs */
    border-bottom: 1px solid #2a2a2e !important;
}

/* hide close/new buttons on tabs */
#tabs-newtab-button,
#tabbrowser-tabs .tabbrowser-tab .tab-close-button
{
    display: none !important;
    visibility: hidden !important;
}

/*
remove padding around right-most tab-toolbar buttons (new-tab, tab list, etc),
if tab height is changed, the padding makes the entire tabbar jump
every time a new tab is opened, instead add padding in-between buttons.
*/
#TabsToolbar{
    --toolbarbutton-inner-padding: 0px !important;
    --toolbarbutton-outer-padding: 3px !important;
}

/*
Show tab audio icons next to the tab icon,
and by default removes the tab secondary line
*/
.tab-icon-stack:is([muted],[soundplaying],[activemedia-blocked]){
	  grid-template-areas: "a s";
}
.tab-icon-overlay:is([muted],[soundplaying],[activemedia-blocked]){ grid-area: s; }
.tab-icon-overlay,.tab-icon-image{ opacity: 1 !important; }

/* hide secondary audio label */
.tab-secondary-label { display: none }

/*****************/
/* context menus */
/*****************/

/* hide from hamburger */
#appMenu-fxa-status,
#appMenu-mainView toolbarseparator.sync-ui-item,
#appMenu-protection-report-button
{
    display: none !important;
}

#context-navigation, #context-sep-navigation {
    display: none !important
}

#context-navigation {
    display: none !important
}

/* hide context-menu items */
#context-navigation,
#context-reload,
#context-stop,
#context-back,
#context-forward,
#context-bookmarkpage,
#context-sendvideo,
#context-sendaudio,
#context-sendimage,
#context-savepage,
#context-savelink,
#context-video-saveimage,
#context-media-hidecontrols,
#context-video-pictureinpicture,
#context-viewsource,
#context-bookmarklink,
#context-copyimage-contents,
#context-viewimageinfo,
#context-print-selection,
#context-forward,
#context-reload,
#context-stop,
#context-back,
#context-bookmarkpage,
#context-viewpartialsource-selection,
#context-inspect-a11y,
#PanelUI-fxa-menu-remotetabs-button,
#PanelUI-fxa-menu-view-sidebar,
#sidebarMenu-popup toolbarbutton#sidebar-switcher-tabs,
#PanelUI-fxa-menu-sendtab-button,
#context-savelinktopocket,
#context-sep-sendpagetodevice,
#context-sendpagetodevice,
#context-sep-sendlinktodevice,
#context-sendlinktodevice,
#pageAction-panel-sendToDevice,
#pageAction-panel-pocket,
#screenshots_mozilla_org-menuitem-_create-screenshot,
#pageAction-panel-screenshots,
#page-menu-separator,
#context-viewbgimage,
#context-selectall,
#context-pocket,
#context_closeTabOptions,
#context_moveTabOptions,
#context_closeTab,
#context_sendTabToDevice,
#context_sendTabToDevice + menuseparator,
#context-openlinkprivate,
#context-openlinkinusercontext-menu,
#context_reopenInContainer,
#toolbar-context-bookmarkSelectedTab
{
    display: none !important;
}

/***************/
/* locationbar */
/***************/

/* disable ugly location bar expanding */
#urlbar[breakout][breakout-extend] {
    top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
    left: unset !important;
    width: calc(100% + 0 * 5px + 0 * 2px) !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-background {
    box-shadow: unset !important;
    animation-name: unset !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-input-container {
    height: var(--urlbar-height) !important;
    padding-block: unset !important;
    padding-inline: unset !important;
}

/* disable result item roundness */
#urlbar[breakout] .urlbarView-row-inner {
    border-radius: 0px !important;
}

/* disable 'breakout' animation */
#urlbar[breakout] {
    animation: unset !important;
    duration: unset !important;
}

/* remove 'border' between urlbar and results */
.urlbarView-body-inner {
    border-top: 0px !important;
}

/* roundness */
#urlbar,
#urlbar #urlbar-background,
#urlbar.megabar #urlbar-background,
#urlbar-input-container,
#searchbar,
.searchbar-textbox {
    border-radius: 2px !important;
}

#urlbar[focused="true"]:not([usertyping="true"]) .urlbarView,
#urlbar .search-one-offs,
#urlbar .search-one-offs .search-panel-header,
#urlbar .search-one-offs .search-panel-one-offs-container {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

#urlbar .search-one-offs .search-setting-button-compact {
    border-bottom-right-radius: 0px !important;
}

#urlbar[focused="true"][open] #urlbar-input-container {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}


/***********/
/* sidebar */
/***********/


#sidebar-header {
    font-size: 1em !important;
    padding: 3px !important;
}

#sidebar-search-container {
    display: none;
}

.sidebar-placesTree treechildren::-moz-tree-row {
    height: 1.6em !important;
    min-height: 1.6em !important;
    border-width: 1px !important;
}

.sidebar-placesTree treechildren::-moz-tree-indentation {
    width: 0 !important;
}

.sidebar-placesTree treechildren::-moz-tree-twisty {
    padding-inline-start: 0 !important;
    padding-inline-end: 2px !important;
}

/********* ****/
/* general ui */
/********* ****/

/* force the reader button to be visible */
#reader-mode-button {
    display: -moz-box !important;
    visibility: visible !important;
}
