@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#window-controls  { display:none !important; }    /* hide the minimize / maximize / close buttons  */

* {
    scrollbar-width: thin !important;
    scrollbar-color: #313131 !important;
}

.titlebar-button{ padding-block: 2px !important; }
#urlbar-container, #search-container{ padding-block: 1px !important; }

#titlebar{ -moz-appearance:none !important; }
:root[sizemode="maximized"] #navigator-toolbox{ margin-top: 4px }

/********/
/* tabs */
/********/

#tabbrowser-tabs {
    --tab-min-height: 24px !important;
}

/* remove padding around tabs */
#tabbrowser-tabs tab.tabbrowser-tab {
    padding-inline: unset !important;
}

#tabbrowser-tabs .tab-background {
    margin-block: unset !important;
    border-radius: unset !important;
    background-image: none !important;
}

#tabbrowser-tabs .tab-background[selected="true"] {
    background-color: #575757 !important;
}

/*
remove padding around tab toolbar buttons (new-tab, tab list, etc),
if tab height is changes, the padding makes the entire tabbar jump
every time a new tab is opened, instead add padding in-between buttons.
*/
#TabsToolbar{
    --toolbarbutton-inner-padding: 0px !important;
    --toolbarbutton-outer-padding: 3px !important;
}

/* hide close/new buttons on tabs */
#tabbrowser-tabs .tabbrowser-tab .tab-close-button,
.tabs-newtab-button,
#tabs-newtab-button {
    display: none !important;
    visibility: hidden !important;
}

tab {
    background-color: #252525 !important;
    color: #fefefe !important;
    font-weight: 550 !important;
}
tab[selected="true"], .tab-line[selected="true"] {
    background-color: #727272 !important;
}

/*
Show tab audio icons next to the tab icon,
and by default removes the tab secondary line
*/
.tab-icon-stack:is([muted],[soundplaying],[activemedia-blocked]){
	  grid-template-areas: "a s";
}
.tab-icon-overlay:is([muted],[soundplaying],[activemedia-blocked]){ grid-area: s; }
.tab-icon-overlay,.tab-icon-image{ opacity: 1 !important; }

/* hide secondary audio label */
.tab-secondary-label { display: none }

/*****************/
/* context menus */
/*****************/

/* hide from hamburger */
#appMenu-fxa-status,
#appMenu-mainView toolbarseparator.sync-ui-item,
#appMenu-protection-report-button
{
    display: none !important;
}

/* hide context-menu items */
#context-sendvideo,
#context-sendaudio,
#context-forward .menu-iconic-icon,
#context-reload .menu-iconic-icon,
#context-stop .menu-iconic-icon,
#context-back .menu-iconic-icon,
#context-bookmarkpage .menu-iconic-icon,
#context-viewpartialsource-selection,
#context-inspect-a11y,
#PanelUI-fxa-menu-remotetabs-button,
#PanelUI-fxa-menu-view-sidebar,
#sidebarMenu-popup toolbarbutton#sidebar-switcher-tabs,
#PanelUI-fxa-menu-sendtab-button,
#context-savelinktopocket,
#context-sep-sendpagetodevice,
#context-sendpagetodevice,
#context-sep-sendlinktodevice,
#context-sendlinktodevice,
#pageAction-panel-sendToDevice,
#pageAction-panel-pocket,
#screenshots_mozilla_org-menuitem-_create-screenshot,
#pageAction-panel-screenshots,
#page-menu-separator,
#context-viewbgimage,
#context-selectall,
#context-pocket,
#context_sendTabToDevice,
#context_sendTabToDevice + menuseparator {
    display: none !important;
}

/***************/
/* locationbar */
/***************/

/* disable ugly location bar expanding */
#urlbar[breakout][breakout-extend] {
    top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
    left: unset !important;
    width: calc(100% + 0 * 5px + 0 * 2px) !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-background {
    box-shadow: unset !important;
    animation-name: unset !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-input-container {
    height: var(--urlbar-height) !important;
    padding-block: unset !important;
    padding-inline: unset !important;
}

/* disable result item roundness */
#urlbar[breakout] .urlbarView-row-inner {
    border-radius: 0px !important;
}

/* disable 'breakout' animation */
#urlbar[breakout] {
    animation: unset !important;
    duration: unset !important;
}

/* remove 'border' between urlbar and results */
.urlbarView-body-inner {
    border-top: 0px !important;
}

/* roundness */
#urlbar.megabar:not([open]) #urlbar-background,
#urlbar,#urlbar-input-container,
#searchbar, .searchbar-textbox {
    border-radius: 0px !important;
}

#urlbar #urlbar-background,
#urlbar, #urlbar-input-container,
#searchbar, .searchbar-textbox {
    border-radius: 0px !important;
}

#urlbar[focused="true"]:not([usertyping="true"]) .urlbarView,
#urlbar .search-one-offs,
#urlbar .search-one-offs .search-panel-header,
#urlbar .search-one-offs .search-panel-one-offs-container {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

#urlbar .search-one-offs .search-setting-button-compact {
    border-bottom-right-radius: 0px !important;
}

#urlbar[focused="true"][open] #urlbar-input-container {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}


/***********/
/* sidebar */
/***********/


#sidebar-header {
    font-size: 1em !important;
    padding: 3px !important;
}

#sidebar-search-container {
    display: none;
}

.sidebar-placesTree treechildren::-moz-tree-row {
    height: 1.6em !important;
    min-height: 1.6em !important;
    border-width: 1px !important;
}

.sidebar-placesTree treechildren::-moz-tree-indentation {
    width: 0 !important;
}

.sidebar-placesTree treechildren::-moz-tree-twisty {
    padding-inline-start: 0 !important;
    padding-inline-end: 2px !important;
}

/********* ****/
/* general ui */
/********* ****/

/* force the reader button to be visible */
#reader-mode-button {
    display: -moz-box !important;
    visibility: visible !important;
}
