[Unit]
Description=Lock when suspending (closing lid)

[Service]
User=%I
Environment=DISPLAY=:0
ExecStart=/usr/local/bin/slock

[Install]
WantedBy=sleep.target
