[Unit]
Description=Lock when suspending (closing lid)

[Service]
User=jens
Environment=DISPLAY=:0
ExecStart=/usr/bin/slock

[Install]
WantedBy=sleep.target
